:root {
    --fluent-acrylic-blur: 8px;

    --fluent-spacing-xsm: 4px;
    --fluent-spacing-sml: 8px;
    --fluent-spacing-mdm: 12px;
    --fluent-spacing-lrg: 16px;

    --fluent-border-radius-sml: 2px;
    --fluent-border-radius-mdm: 4px;
    --fluent-border-radius-lrg: 6px;
    --fluent-border-radius-crl: 46px;

    --fluent-border: 1px solid rgba(127, 127, 127, .08);

    --fluent-shadow2-light: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.14);
    --fluent-shadow2-dark: 0 0 2px rgba(0,0,0,0.24), 0 2px 4px rgba(0,0,0,0.28);
    --fluent-shadow16-light: 0 0 2px rgba(0,0,0,0.12), 0 8px 16px rgba(0,0,0,0.14);
    --fluent-shadow16-dark: 0 0 2px rgba(0,0,0,0.24), 0 8px 16px rgba(0,0,0,0.28);
}



/*----------------------------------------------------------------
    fluent.utilities
----------------------------------------------------------------*/
.fluent-shadow::after {
    z-index: 255; position: absolute;
    content: '';
    box-sizing: border-box;
    top: 0; left: 0;
    width: 100%; height: 100%;
    pointer-events: none;
    box-shadow: var(--fluent-shadow2-light);
    border: var(--fluent-border);
}

[class='vs-dark'] .fluent-shadow::after {
    box-shadow: var(--fluent-shadow2-dark);
}

.fluent-container-0 { display: flex; flex-direction: column; }
.fluent-container-0 > div { position: relative !important; }
.fluent-container-1 { top: unset !important; height: auto !important; flex: 1 1 auto !important; }

.fluent-container-4 { display: flex; flex-direction: column; }

.separator-border { --separator-border: transparent !important; }



/*----------------------------------------------------------------
    fluent-titlebar
        workbench.parts.titlebar
----------------------------------------------------------------*/
.fluent-titlebar { top: 0 !important; height: 32px !important; }
#workbench\.parts\.titlebar { height: 100% !important; border: unset !important; background-color: var(--vscode-editor-background) !important; }



/*----------------------------------------------------------------
    fluent-banner
        workbench.parts.banner
----------------------------------------------------------------*/
.fluent-banner {
    box-sizing: border-box;
    z-index: 127 !important;
    position: absolute !important;
    top: 48px !important; left: 2rem !important;
    height: 32px !important; width: calc(100% - 4rem) !important;
    overflow: hidden;

    border-radius: var(--fluent-border-radius-crl);
    box-shadow: var(--fluent-shadow16-light);
    border: var(--fluent-border);
}

.fluent-banner div { display: flex; align-items: center; height: 100% }

.fluent-banner::after {
    z-index: -1;
    position: absolute;
    content: '';
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: var(--vscode-panel-background);
}

.acrylic .fluent-banner { backdrop-filter: blur(var(--fluent-acrylic-blur)); }
.acrylic .fluent-banner::after { background-color: transparent; }

[class='vs-dark'] .fluent-banner { box-shadow: var(--fluent-shadow16-dark); }



/*----------------------------------------------------------------
    fluent-activitybar
        workbench.parts.activitybar 
----------------------------------------------------------------*/
#workbench\.parts\.activitybar { background-color: var(--vscode-editor-background) !important; }
#workbench\.parts\.activitybar.bordered { border-color: var(--vscode-editor-background) !important; }



/*----------------------------------------------------------------
    fluent-sidebar
        workbench.parts.sidebar
----------------------------------------------------------------*/
#workbench\.parts\.sidebar { 
    display: flex; flex-direction: column; 
    height: 100% !important; 
    border: none !important;
    padding-bottom: var(--fluent-spacing-sml);
    background-color: var(--vscode-editor-background) !important;
}

#workbench\.parts\.sidebar::after { 
    border-radius: var(--fluent-border-radius-lrg);
    height: calc(100% - var(--fluent-spacing-sml)); 
}

#workbench\.parts\.sidebar > div { position: relative !important; border: var(--fluent-border); }

#workbench\.parts\.sidebar > .title { 
    box-sizing: border-box;
    border-top-left-radius: var(--fluent-border-radius-lrg);
    border-top-right-radius: var(--fluent-border-radius-lrg);
    background-color: var(--vscode-sideBar-background) !important;
}

#workbench\.parts\.sidebar > .content {
    overflow: hidden; flex: 1 1 auto;
    height: auto !important; width: 100% !important;
    border-bottom-left-radius: var(--fluent-border-radius-lrg);
    border-bottom-right-radius: var(--fluent-border-radius-lrg);
    background-color: var(--vscode-sideBar-background) !important;
}

/*  Search-view fixes       */
#workbench\.view\.search [class="replace-container"] { display: flex; }
#workbench\.view\.search [class="replace-container"] .replace-input { flex: 1 1 auto; }
#workbench\.view\.search [class="replace-container"] .replace-input .input { width: auto !important; }

/*  Welcome-biew fixes      */
#workbench\.parts\.sidebar .welcome-view-content { width: 100% !important; padding-inline: var(--fluent-spacing-lrg); }



/*----------------------------------------------------------------
    fluent-editor
        workbench.parts.editor
----------------------------------------------------------------*/
.fluent-editor { position: relative !important; }

#workbench\.parts\.editor {
    position: relative !important;
    width: 100% !important; height: 100% !important; 
}

#workbench\.parts\.editor > div { position: relative !important; width: 100% !important; height: 100% !important; }
#workbench\.parts\.editor .editor-group-container { display: flex; flex-direction: column; }


#workbench\.parts\.editor .title.tabs { 
    position: relative;
    overflow: visible !important;
    margin-inline: var(--fluent-spacing-sml);
    background-color: transparent !important;
}

#workbench\.parts\.editor .tabs-breadcrumbs {
    position: relative;
    box-sizing: border-box;
    border-top-left-radius: var(--fluent-border-radius-lrg);
    border-top-right-radius: var(--fluent-border-radius-lrg);
    border: var(--fluent-border) !important;
    box-shadow: var(--fluent-shadow2-dark);
}

#workbench\.parts\.editor .title.tabs .tab { --tab-border-top-color: transparent !important; background-color: transparent !important; border: unset !important; }
#workbench\.parts\.editor .editor-actions { outline: none !important; }
#workbench\.parts\.editor .tabs-container { padding-left: var(--fluent-spacing-mdm); }
#workbench\.parts\.editor .tabs-and-actions-container { --tabs-border-bottom-color: transparent !important; }
#workbench\.parts\.editor .tab-border-bottom-container { display: none; }


#workbench\.parts\.editor .tabs .tab.active { 
    background-color: var(--vscode-editor-background) !important; 
    border-top-left-radius: var(--fluent-border-radius-lrg);
    border-top-right-radius: var(--fluent-border-radius-lrg);
    border: var(--fluent-border) !important;
    box-shadow: var(--fluent-shadow2-dark);
}

#workbench\.parts\.editor .editor-container {
    box-sizing: border-box;
    position: relative; overflow: hidden; 
    margin-inline: var(--fluent-spacing-sml); margin-bottom: var(--fluent-spacing-sml);
    width: unset !important; height: unset !important;
    border-bottom-left-radius: var(--fluent-border-radius-lrg);
    border-bottom-right-radius: var(--fluent-border-radius-lrg);
    border: var(--fluent-border) !important;
    box-shadow: var(--fluent-shadow2-dark);
}



/*----------------------------------------------------------------
    fluent-auxiliarybar
        workbench.parts.auxilarybar
----------------------------------------------------------------*/



/*----------------------------------------------------------------
    fluent-bottompanel
        workbench.parts.panel
----------------------------------------------------------------*/
.fluent-bottompanel { 
    position: relative !important; 
    height: auto !important;
    top: unset !important;
    flex: 1 1 auto;
}

#workbench\.parts\.panel {
    position: relative !important;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    height: 100% !important;
    padding-inline: var(--fluent-spacing-sml);
    padding-bottom: var(--fluent-spacing-sml);
    background-color: var(--vscode-editor-background) !important;
}

#workbench\.parts\.panel > div { position: relative !important; border: var(--fluent-border); }

#workbench\.parts\.panel::after { 
    border-radius: var(--fluent-border-radius-lrg);
    left: var(--fluent-spacing-sml);
    width: calc(100% - (var(--fluent-spacing-sml) * 2));
    height: calc(100% - var(--fluent-spacing-sml)); 
}

#workbench\.parts\.panel > .title { 
    height: 32px !important;
    border-top: none;
    border-top-left-radius: var(--fluent-border-radius-lrg);
    border-top-right-radius: var(--fluent-border-radius-lrg);
    background-color: var(--vscode-sideBar-background) !important;
}

#workbench\.parts\.panel .title .title-actions { height: 100% !important; }

#workbench\.parts\.panel > .content {
    height: auto !important;
    width: 100% !important;
    flex: 1 1 auto;
    overflow: hidden;
    border-bottom-left-radius: var(--fluent-border-radius-lrg);
    border-bottom-right-radius: var(--fluent-border-radius-lrg);
    background-color: var(--vscode-sideBar-background) !important;
}

/*----------------------------------------------------------------
    fluent-statusbar
        workbench.parts.statusbar 
----------------------------------------------------------------*/
.fluent-statusbar { 
    position: relative !important;
    justify-content: center;
    align-items: center;
    display: flex;
    top: unset !important;
    height: 24px !important;
}

#workbench\.parts\.statusbar { 
    --status-border-top-color: var(--vscode-statusBar-background) !important;
    height: 100% !important; 
}